.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
    background-color: #000;
    color:#fff;
}
.footer__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}